---
import Layout from "../layouts/Layout.astro";
import Landing from "../components/Landing.astro";
import Info from "../components/Info.astro";
import FAQ from "../components/FAQ.astro";
---

<Layout title="AngelHacks Toronto - A 24 Hour Gam Jam">
  <main>
    <Landing />
    <Info />
    <FAQ />
  </main>
</Layout>
