---
import Layout from "../layouts/Layout.astro";
import Landing from "../components/Landing.astro";
import Info from "../components/Info.astro";
import FAQ from "../components/FAQ.astro";
import Footer from "../components/Footer.astro";
---

<Layout
  title="AngelHacks Toronto - A 24 Hour Game Jam"
  description="Toronto satellite of AngelHacks 3.0, the official Hack Club Spring Event."
>
  <main>
    <Landing />
    <Info />
    <FAQ />
  </main>
  <footer>
    <Footer />
  </footer>
</Layout>
