---
import Layout from "../layouts/Layout.astro";
import Landing from "../components/Landing.astro";
import Info from "../components/Info.astro";
import FAQ from "../components/FAQ.astro";
import Footer from "../components/Footer.astro";
---

<Layout
  title="AngelHacks Toronto - A 12 Hour Game Jam"
  description="A 12-hour Game-Jam (Hackathon-like event) for high schoolers to come together and learn/make games from scratch!"
>
  <main>
    <Landing />
    <Info />
    <FAQ />
  </main>
  <footer>
    <Footer />
  </footer>
</Layout>
