<div
  class="fixed top-0 left-0 right-0 z-50 bg-orange font-black lg:text-lg text-center py-2 px-4"
>
  <p>
    AngelHacks 3.0 has concluded. Thank you so much to all who participated and
    helped out! Be sure to join the <a
      href="https://hackclub.com/slack?event=angelhacks-toronto"
      target="_blank"
      class="underline hover:text-teal">Hack Club Slack</a
    >!
  </p>
</div>
