---
import FAQCard from "./FAQCard.astro";
---

<div class="flex flex-col my-16 bg-white">
  <!-- Heading -->
  <div class="mx-auto my-20 space-y-6 text-center">
    <h2 class="mx-auto text-6xl font-black text-orange -rotate-1">FAQs</h2>
    <p class="mx-auto text-3xl font-black">Frequently asked questions.</p>
  </div>

  <!-- Content -->
  <div
    class="mx-8 space-y-8 lg:grid lg:grid-cols-2 sm:mx-12 md:mx-32 lg:gap-x-8 lg:space-y-0"
  >
    <div class="space-y-8">
      <FAQCard
        question="What is a Game Jam?"
        answer="A Game Jam is an event where programmers, artists, storytellers musicians, and much more come together to create a game in a limited time. We're welcoming beginners and experts alike!"
      />
      <FAQCard
        question="What is hacking? Is it safe?"
        answer="No, we're not “hacking” bank accounts. Hacking is term for coding apps, games, websites etc. It's safe and entirely educational."
      />
      <FAQCard
        question="What can I make?"
        answer="Anything related to games! You can make platformers, Sprig games, ARGs, board games. Your imagination is the limit! You can also make assets, music or design levels for games!
At the end, we'll vote for each other projects and have prizes for the winners!"/>
      <FAQCard
        question="Do I need a team?"
        answer="Nope! You'll have the opportunity to create your own team up to four. We can also put you in a team to meet new people. Find new friends, bring yours, or work alone."
      />
      <FAQCard
        question="What is Hack Club?"
        answer="<a href='https://hackclub.com/' target='_blank'>Hack Club</a> is a nonprofit global network (based in the U.S.) and network of student-led coding clubs & High school makers. Founded in 2014, Hack Clubs are now in nearly 400 high schools with 10,000 students each year."
      />
    </div>
    <div class="space-y-8">
      <FAQCard
        question="What is AngelHacks?"
        answer="AngelHacks started in 2019 has an in-person hacking (programming) event. This year, AngelHacks is Hack Club's offical Spring Event, all organized by high schoolers."
      />
      <FAQCard
        question="Who can participate in AngelHacks?"
        answer="AngelHacks primarily targets high school / older middle school students. If you're outside of that range, email us and we'll see what we can do. If you're interested in mentoring or running a workshop, email us as well!"
      />
      <FAQCard
        question="What if I have never coded before? "
        answer="At AngelHacks, complete beginners are not only welcome, but expected! Learn as you go with our workshops and mentors. A Gam Jam isn't all about code, you can also create art, music, stories and more for games!"
      />
      <FAQCard
        question="What do I need to bring?"
        answer="You'll need your Student ID, laptop, a phone, chargers and a sleeping bag for the very least. Bring anything you need for the night!"
      />
      <FAQCard
        question="What’s the event like? Is it safe?"
        answer="There will be free food and refreshments. Workshops and activities will be held throughout the event. Adult supervision will be present at all times with access restricted to participants."
      />
    </div>
  </div>
  <div class="mx-8 my-8 sm:mx-12 md:mx-32">
    <FAQCard
      question="I have another question that'as not answered here!"
      answer="Feel free to email us at <a href='mailto:toronto@angelhacks.org' target='_blank'>toronto@angelhacks.org</a> or send us a message in #angelhacks-toronto on the <a href='https://hackclub.com/slack' target='_blank'>Hack Club Slack</a>."
    />
  </div>
</div>
