---
import FAQCard from "./FAQCard.astro";
---

<div class="flex flex-col my-16 bg-white">
  <!-- Heading -->
  <div class="mx-auto my-20 space-y-6 text-center">
    <h2 class="mx-auto text-6xl font-black text-orange -rotate-1">FAQs</h2>
    <p class="mx-auto text-3xl font-black">Frequently asked questions.</p>
  </div>

  <!-- Content -->
  <div
    class="mx-8 space-y-12 lg:flex lg:flex-row sm:mx-12 md:mx-32 lg:space-x-12 lg:space-y-0"
  >
    <div class="space-y-12">
      <FAQCard
        question="What is the purpose of this website?"
        answer="Random text hello hi wgasfdivihoi hoieh we fpjf l wghsdivoh  q efajoij   f jsjoj. Random text hello hi wgasfdivihoi hoieh we fpjf l wghsdivoh  q efajoij   f jsjoj."
      />
      <FAQCard
        question="What is the purpose of this website?"
        answer="Random text hello hi wgasfdivihoi hoieh we fpjf l wghsdivoh  q efajoij   f jsjoj."
      />
      <FAQCard
        question="What is the purpose of this website?"
        answer="Random text hello hi wgasfdivihoi hoieh we fpjf l wghsdivoh  q efajoij   f jsjoj."
      />
      <FAQCard
        question="What is the purpose of this website?"
        answer="Random text hello hi wgasfdivihoi hoieh we fpjf l wghsdivoh  q efajoij   f jsjoj. Random text hello hi wgasfdivihoi hoieh we fpjf l wghsdivoh  q efajoij   f jsjoj."
      />
      <FAQCard
        question="What is the purpose of this website?"
        answer="Random text hello hi wgasfdivihoi hoieh we fpjf l wghsdivoh  q efajoij   f jsjoj."
      />
    </div>
    <div class="space-y-12">
      <FAQCard
        question="What is the purpose of this website?"
        answer="Random text hello hi wgasfdivihoi hoieh we fpjf l wghsdivoh  q efajoij   f jsjoj."
      />
      <FAQCard
        question="What is the purpose of this website?"
        answer="Random text hello hi wgasfdivihoi hoieh we fpjf l wghsdivoh  q efajoij   f jsjoj. Random text hello hi wgasfdivihoi hoieh we fpjf l wghsdivoh  q efajoij   f jsjoj."
      />
      <FAQCard
        question="What is the purpose of this website?"
        answer="Random text hello hi wgasfdivihoi hoieh we fpjf l wghsdivoh  q efajoij   f jsjoj. Random text hello hi wgasfdivihoi hoieh we fpjf l wghsdivoh  q efajoij   f jsjoj."
      />
      <FAQCard
        question="What is the purpose of this website?"
        answer="Random text hello hi wgasfdivihoi hoieh we fpjf l wghsdivoh  q efajoij   f jsjoj."
      />
      <FAQCard
        question="What is the purpose of this website?"
        answer="Random text hello hi wgasfdivihoi hoieh we fpjf l wghsdivoh  q efajoij   f jsjoj. Random text hello hi wgasfdivihoi hoieh we fpjf l wghsdivoh  q efajoij   f jsjoj."
      />
    </div>
  </div>
</div>
