---
import FAQCard from "./FAQCard.astro";
---

<div class="flex flex-col my-16 bg-white">
  <!-- Heading -->
  <div class="mx-auto my-20 space-y-6 text-center">
    <h2 class="mx-auto text-6xl font-black text-orange -rotate-1">FAQs</h2>
    <p class="mx-auto text-3xl font-black">Frequently asked questions.</p>
  </div>

  <!-- Content -->
  <div
    class="mx-8 space-y-8 lg:grid lg:grid-cols-2 sm:mx-12 md:mx-32 lg:gap-x-8 lg:space-y-0"
  >
    <div class="space-y-8">
      <FAQCard
        question="What is the purpose of this website?"
        answer="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sapien nec sagittis aliquam malesuada bibendum arcu vitae elementum. Est velit egestas dui id ornare arcu odio."
      />
      <FAQCard
        question="What is the purpose of this website?"
        answer="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eget mauris pharetra et ultrices neque ornare aenean."
      />
      <FAQCard
        question="What is the purpose of this website?"
        answer="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
      />
      <FAQCard
        question="What is the purpose of this website?"
        answer="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sapien nec sagittis aliquam malesuada bibendum arcu vitae elementum. Est velit egestas dui id ornare arcu odio."
      />
      <FAQCard
        question="What is the purpose of this website?"
        answer="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
      />
    </div>
    <div class="space-y-8">
      <FAQCard
        question="What is the purpose of this website?"
        answer="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
      />
      <FAQCard
        question="What is the purpose of this website?"
        answer="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eget mauris pharetra et ultrices neque ornare aenean."
      />
      <FAQCard
        question="What is the purpose of this website?"
        answer="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
      />
      <FAQCard
        question="What is the purpose of this website?"
        answer="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eget mauris pharetra et ultrices neque ornare aenean."
      />
      <FAQCard
        question="What is the purpose of this website?"
        answer="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
      />
    </div>
  </div>
</div>
