<div
  class="my-12 text-center text-pale-blue hover:text-black motion-safe:transition-colors"
>
  <p>AngelHacks Toronto is an event crafted by Hack Clubbers.</p>
  <p>
    Website open sourced at <a
      class="hover:underline"
      href="https://github.com/hackclub/angelhacks-toronto"
      target="_blank">hackclub/angelhacks-toronto</a
    > and finances on <a
      class="hover:underline"
      href="https://bank.hackclub.com/angelhacks-toronto"
      target="_blank">Hack Club Bank</a
    >. <a class="hover:underline"
          href="https://hackclub.com/conduct/"
          target="_blank"> Code of Conduct
    </a>
  </p>
</div>
