<div class="flex flex-col my-6 bg-white">
  <!-- Heading -->
  <div class="mx-auto my-20 text-center lg:w-[800px] px-8 sm:px-12 space-y-6">
    <h2 class="mx-auto text-6xl font-black text-orange rotate-1">
      🕹️ IT'S A GAME JAM!
    </h2>
    <p class="mx-auto text-3xl font-black">
      It's platformers, video games, sprig games, RPGs, board games! Your
      imagination is the limit!
    </p>
    <p class="mx-auto text-xl font-black">
      In teams up to 4, teenagers all across Eastern Canada will come together
      for 12 hours of learning and making games of all sorts, regardless of
      experience.
    </p>
  </div>

  <!-- Content -->
  <div
    class="mx-8 space-y-24 sm:mx-12 md:mx-32 lg:grid lg:grid-cols-2 lg:gap-x-12 lg:space-y-0 lg:gap-y-12"
  >
    <div
      class="relative overflow-hidden shadow-xl rounded-3xl lg:-rotate-1 lg:hover:rotate-0 lg:motion-safe:transition-transform"
    >
      <img
        src="/hackathon_1.png"
        alt="Assemble, a Hack Club hackathon in San Francisco."
        class="object-cover w-full h-full"
        height=""
      />
      <p
        class="absolute bottom-0 w-full py-1 text-lg font-bold text-center bg-white/80"
      >
        <a
          class="hover:underline"
          href="https://assemble.hackclub.com/"
          target="_blank">Assemble</a
        >, a Hack Club hackathon in San Francisco.
      </p>
    </div>

    <div class="flex text-5xl font-black xl:text-6xl text-teal mx-6">
      <div class="my-auto text-center space-y-4">
        <p>Build a game</p>
        <p class="text-2xl text-black">
          AngelHacks is a great opportunity for to build something fun and
          unique with your teammates!
        </p>
      </div>
    </div>

    <!-- Desktop Only -->
    <div class="hidden text-5xl font-black xl:text-6xl text-teal lg:flex mx-6">
      <div class="my-auto space-y-4 text-center">
        <p>Learn and share</p>
        <p class="text-2xl text-black">
          Just starting? We'll have beginner workshops to get your started.
          Already know a ton? Share you knowledge by hosting a workshop!
        </p>
      </div>
    </div>

    <div
      class="relative overflow-hidden shadow-xl rounded-3xl lg:rotate-1 lg:hover:rotate-0 lg:motion-safe:transition-transform"
    >
      <img
        src="/hackathon_2.png"
        alt="Students at AngelHacks 2019 building projects in groups."
        class="object-cover w-full h-full"
      />
      <p
        class="absolute bottom-0 w-full py-1 text-lg font-bold text-center bg-white/80"
      >
        Students at AngelHacks 2019 building projects in groups.
      </p>
    </div>

    <!-- Mobile Only -->
    <div class="flex text-5xl font-black xl:text-6xl text-teal lg:hidden mx-6">
      <div class="my-auto space-y-4 text-center">
        <p>Learn and share</p>
        <p class="text-2xl text-black">
          Just starting? We'll have beginner workshops to get your started.
          Already know a ton? Share you knowledge by hosting a workshop!
        </p>
      </div>
    </div>

    <div
      class="relative overflow-hidden shadow-xl rounded-3xl lg:-rotate-1 lg:hover:rotate-0 lg:motion-safe:transition-transform"
    >
      <img
        src="/hackathon_3.png"
        alt="Stickers and swag at Epoch in New Delhi."
        class="object-cover w-full h-full"
      />
      <p
        class="absolute bottom-0 w-full py-1 text-lg font-bold text-center bg-white/80"
      >
        Stickers and swag at <a
          class="hover:underline"
          href="https://epoch.hackclub.com/"
          target="_blank">Epoch</a
        > in New Delhi.
      </p>
    </div>

    <div class="flex text-5xl font-black xl:text-6xl text-teal mx-6">
      <div class="my-auto space-y-4 text-center">
        <p>Make connections</p>
        <p class="text-2xl text-black">
          Meet other programmers, artists, storytellers, musicians, and creators
          just like you. Build something awesome together!
        </p>
      </div>
    </div>

    <!-- Desktop Only -->
    <div class="hidden text-5xl font-black xl:text-6xl text-teal lg:flex mx-6">
      <div class="my-auto space-y-4 text-center">
        <p>Totally free</p>
        <p class="text-2xl text-black">
          Everything at the event will be free for participants, including
          meals, drinks, swag, and prizes! You'll only need a laptop and your
          student ID.
        </p>
      </div>
    </div>

    <div
      class="relative overflow-hidden shadow-xl rounded-3xl lg:rotate-1 lg:hover:rotate-0 lg:motion-safe:transition-transform"
    >
      <img
        src="/hackathon_4.png"
        alt="Award cermony at AngelHacks 2019."
        class="object-cover w-full h-full"
      />
      <p
        class="absolute bottom-0 w-full py-1 text-lg font-bold text-center bg-white/80"
      >
        Award cermony at AngelHacks 2019.
      </p>
    </div>

    <!-- Mobile Only -->
    <div class="flex text-5xl font-black xl:text-6xl text-teal lg:hidden mx-6">
      <div class="my-auto space-y-4 text-center">
        <p>Totally free</p>
        <p class="text-2xl text-black">
          Everything at the event will be free for participants, including
          meals, drinks, swag, and prizes! You'll only need a laptop and your
          student ID.
        </p>
      </div>
    </div>
  </div>
</div>
