<div
  class="relative flex flex-col w-full min-h-screen bg-light-sky-blue dark:bg-sky-blue"
>
  <!-- Orpheus Flag -->
  <div class="absolute hidden mt-2 -ml-2 xs:block">
    <a href="https://hackclub.com/" target="_blank">
      <img
        src="/flag-orpheus-left.svg"
        alt="Hack Club Branding"
        height="118"
        width="150"
        class="hover:rotate-6 hover:translate-y-3 motion-safe:transition-transform"
      />
    </a>
  </div>

  <!-- Background images -->
  <div
    class="absolute right-0 bottom-0 mb-[20px] select-none h-[555px] w-[400px] bg-cover hidden lg:block"
    style="background-image: url(/cn_tower.png);"
  >
  </div>
  <div
    class="absolute bottom-0 left-0 right-0 h-40 bg-cover"
    style="background-image: url(/clouds.png);"
  >
  </div>

  <!-- Main Content -->
  <div class="lg:mx-[15%] my-auto mx-[8%] z-10">
    <div class="-mt-16 space-y-8">
      <!-- Branding -->
      <div class="flex flex-row space-x-4">
        <!-- Logo -->
        <div class="mt-2 md:mt-1 lg:mt-0">
          <svg
            width="125"
            height="106"
            viewBox="0 0 125 106"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="lg:w-[125px] lg:h-[106px] md:w-[100px] md:h-[85px] w-[80px] h-[68px]"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M88.0468 18.6666C87.395 18.8221 86.7035 18.9732 85.9746 19.1195C78.0173 20.7164 65.5969 21.7436 51.641 21.7436C37.6851 21.7436 25.2647 20.7164 17.3075 19.1195C16.5785 18.9732 15.8871 18.8221 15.2353 18.6666C10.7576 17.5984 8.15385 16.3211 8.15385 14.9487C8.15385 13.5764 10.7576 12.2991 15.2353 11.2308C15.8871 11.0753 16.5785 10.9242 17.3075 10.7779C25.2647 9.18103 37.6851 8.15385 51.641 8.15385C65.5969 8.15385 78.0173 9.18103 85.9746 10.7779C86.7035 10.9242 87.395 11.0753 88.0468 11.2308C92.5245 12.2991 95.1282 13.5764 95.1282 14.9487C95.1282 16.3211 92.5245 17.5984 88.0468 18.6666ZM83.6499 27.8095C75.249 29.1221 63.9364 29.8974 51.641 29.8974C39.3456 29.8974 28.033 29.1221 19.6322 27.8095C15.4958 27.1632 11.6941 26.3314 8.74575 25.2422C7.31807 24.7148 5.60021 23.9527 4.08892 22.7987C2.74819 21.775 0 19.2078 0 14.9487C0 10.6896 2.74819 8.12246 4.08892 7.09871C5.60021 5.94473 7.31807 5.18263 8.74575 4.65521C11.6941 3.56604 15.4958 2.73423 19.6322 2.08792C28.033 0.775288 39.3456 0 51.641 0C63.9364 0 75.249 0.775288 83.6499 2.08792C87.7863 2.73423 91.5879 3.56604 94.5363 4.65521C95.964 5.18263 97.6818 5.94473 99.1931 7.09871C100.534 8.12246 103.282 10.6896 103.282 14.9487C103.282 19.2078 100.534 21.775 99.1931 22.7987C97.6818 23.9527 95.964 24.7148 94.5363 25.2422C91.5879 26.3314 87.7863 27.1632 83.6499 27.8095Z"
              fill="#FFB400"></path>
            <path
              d="M21.4786 62.5112C9.59205 62.3693 0 52.6894 0 40.7692H72.7051C90.7181 40.7692 105.321 55.3716 105.321 73.3846C105.321 84.5948 99.6649 94.4841 91.0513 100.355V106H69.9872C58.2059 106 48.613 96.6301 48.254 84.9359H48.2436C34.8548 84.9359 23.7272 75.255 21.4786 62.5112Z"
              fill="#004F58"></path>
            <path
              d="M19.0256 40.7692C19.0256 52.6894 28.6177 62.3693 40.5042 62.5112C42.7528 75.255 53.8805 84.9359 67.2692 84.9359C67.2727 84.9359 67.2762 84.9359 67.2796 84.9359C67.6386 96.6301 77.2315 106 89.0128 106H91.7308C109.744 106 124.346 91.3976 124.346 73.3846C124.346 55.3716 109.744 40.7692 91.7308 40.7692H19.0256Z"
              fill="#009AAB"></path>
          </svg>
        </div>
        <!-- Title -->
        <div class="space-y-2 text-4xl font-black md:text-5xl lg:text-6xl">
          <p class="text-lg text-red md:text-xl lg:text-2xl">
            Hack Club Presents
          </p>
          <h1 class="text-teal">
            Angel<span class="text-orange">Hacks</span>
            <span class="hidden xs:inline">3.0</span>
          </h1>
          <h1 class="italic text-red">TORONTO</h1>
        </div>
      </div>
      <!-- Generic Info -->
      <div class="space-y-2 text-2xl font-medium md:text-3xl lg:text-4xl">
        <p>May 27th 2023, 9am-9pm (12hrs)</p>
        <p class="text-xl lg:text-3xl md:text-2xl">
          <a
            href="https://goo.gl/maps/X4TFamXUTdgdcjye7"
            class="hover:underline"
            target="_blank"
          >
            WeWork Toronto, 1st University Ave.
          </a>
        </p>
      </div>
      <!-- Call To Action -->
      <div class="space-y-6 text-2xl font-black lg:text-4xl md:text-3xl">
        <p>Learn, build, and ship a game! (Code, art, music, etc.)</p>
        <div class="xs:flex xs:flex-row xs:space-x-12">
          <div class="xs:flex">
            <a
              href="https://airtable.com/shrBZrvyUVR9tx2vz"
              target="_blank"
              class="transition-transform hover:-translate-x-2 active:drop-shadow-none active:-translate-x-3 active:translate-y-1 drop-shadow-[-4px_4px_black]"
            >
              <div
                class="w-full py-3 text-center border-2 border-black bg-orange xs:w-auto xs:px-28 rounded-3xl"
              >
                <p>Join us!</p>
              </div>
            </a>
          </div>
          <div class="hidden text-2xl font-medium md:flex">
            <div class="my-auto">
              <p class="text-2xl">Or at another event:</p>
              <a href="https://angelhacks.hackclub.com/" target="_blank">
                <p class="inline hover:underline">Boston</p>
              </a>
              <p class="inline">·</p>
              <a href="https://angelhacksla.hackclub.com/" target="_blank">
                <p class="inline hover:underline">LA</p>
              </a>
              <p class="inline">·</p>
              <a href="https://angelhacksba.hackclub.com/" target="_blank">
                <p class="inline hover:underline">Bay Area</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
